<table>
    <tr>
        <td>
            <h1>Hello {{ name }}</h1>
        </td>
    </tr>
    <tr height="30">&nbsp; </tr>
    <tr>
        <td>Sorry, your car request is rejected</td>
    </tr>
    <tr height="30">&nbsp; </tr>
    


    <tr height="30">&nbsp; </tr>
    <tr>
        <td><b>Warm Regards</b></td>
    </tr>
    <tr>
        <td>Car Baazar </td>
    </tr>

</table>